.head {
    background-color: #05f;
    padding: 5px;
}
.head__logo{
    color: rgb(221, 221, 220);
    font-size: 3em;
}
.head-nav__item{
    display: inline-block;
}
.head-nav__item a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.head-nav__item:first-child a{
    padding-left: 0;
}
.head-nav__item a:hover{
    text-decoration: underline;
    background-color: rgb(35, 212, 138);
}
.head-nav__wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.leftside{
    display: flex;
    width: 25%;
    flex-direction: column;
}
.leftside__wrapper{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.content{
    overflow: hidden;
    display: flex;
}
.rightside{
    display: flex;
    width: 75%;    
    flex-wrap: wrap;
}
.news-article{
    width: 100%;
    padding: 20px;
    box-sizing: content-box;
}
.news-article__image{
    text-align: center;
}
.news-article__signimage{
    text-align: center;
}
.foot{
    background-color: #6e6e6e;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.foot-nav__wrapper{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.foot-nav__item{
    display: inline-block;
}
.foot-nav__item a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.foot-nav__item:first-child a{
    padding-left: 0;
}
.foot-nav__item a:hover{
    text-decoration: underline;
}